$color-white: #FFFFFF;
$color-black: #000000;
$color-light-grey: #999999;
$color-grey: #666666;
$color-special-grey: #525252;
$color-dark-grey: #333333;
$color-yellow: #FCCE45;
$color-light-red: #F74F58;
$color-light-green: #25D366;